
.venv
__pycache__/
*.pyc

# Python
.venv
__pycache__/
*.pyc
*.pyo

# Environment / secrets — NEVER commit
.env

# Django
db.sqlite3
*.log

#tailwind
staticfiles/
.django_tailwind_cli/
assets/css/output.css
