<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Weather App</title>
</head>
<body>
    {% include "main/partials/navbar.html"%}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        {% if stations_error %}
            <div class="error">{{ stations_error }}</div>
        {% elif stations_data %}
            {% for station in stations_data %}
                {% include "main/partials/station_card.html" with station=station %}
            {% endfor %}
        {% endif %}
</body>
</html>